html, body {
  margin: 0;
  padding: 0;
  
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

button {
  font-size: 1.6rem;
  width: 22%;
  margin-left: 5%;
  position: absolute;
  top:  40%;
  left: 15%;
  transform: translate(-50%,-50%);
  font-family: "Comfortaa", sans-serif;

}

button#info {
  font-size: 1.3rem;
  width: 12%;
  margin-left: 5%;
  position: absolute;
  top:  95%;
  left: 75%;
  transform: translate(-50%,-50%);
}

h1 {
    font-size: 50px;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s linear;
}

canvas {
  display: block;
}

#overlay {
  position: fixed;
  display: none; 
  width: 90%;
  top: 10%;
  left: 5%;
  right: 5%;
  background-color: rgba(236, 236, 236, 0.999); 
  z-index: 2; 
  cursor: pointer;
}

#overlay span {
  float: right;
  margin-right: 3px;
  margin-top: 3px;
}

#overlay p {
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

#overlay p, li {
  margin-right: 5%;
  margin-left: 5%;
}